
.contenedor_formulario{
    border: 2px solid rgba(255,255,255,0.2);
    width: 100%;
    max-width: 450px;
    padding: 30px 40px;
    border-radius: 10px;
    color: #000000;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
}
.contenedor_formulario input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor_formulario label{
    font-size: 15px;
    margin: 0px;
    color: white;
}
.region-comuna {
    display: flex;
    gap: 10px;
}

.region-comuna select,
.region-comuna input {
    margin-top: 20px;
    outline: none;
    background: #f2f2f2;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: grey;
    width: 130%;
}

