.contenedor_logo {
    text-align: center;
    margin: auto;
}

.contenedor{
    width: 100%;
    max-width: 600px;
    padding: 20px 20px;
    padding-top: 50px;
    position: relative;
    margin: auto;
}

.contenedor_login,
.contenedor_registro{
    width: 100%;
    padding: 30px;
    position: relative;
    margin: auto;
    background-color: rgba(146, 214, 211, 0.979);
}

.contenedor_login form,
.contenedor_registro form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: white;
    margin: auto;
    width: 100%;
    max-width: 450px;
}

.contenedor_login form h2,
.contenedor_registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #033363;
}

.contenedor_login form input,
.contenedor_registro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor_login form button,
.contenedor_registro form button{
    padding: 10px 40px;
    margin-top: 25px;
    border: none;
    font-size: 15px;
    background: #033363;
    color: white;
    cursor: pointer;
    outline: none; 
}

.contenedor_login form button:hover,
.contenedor_registro form button:hover{
    background: rgb(8, 159, 185);
    color: white;
}

.caja-registro,
.caja-login{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.caja-registro h4,
.caja-registro p,
.caja-login h4,
.caja-login p{
    color: #033363;
}

.caja-registro button,
.caja-login button{
    padding: 10px 40px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    background: #033363;
    color: white;
    cursor: pointer;
    outline: none; 
}

.region-comuna {
    display: flex;
    gap: 10px;
}

.region-comuna select,
.region-comuna input {
    margin-top: 20px;
    outline: none;
    background: #f2f2f2;
    border: none;
    padding: 5px;
    font-size: 16px;
    width: 130%;
}