dialog#cuadro-ingreso-categorias {
    border: none;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 400px; 
    height: 400px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.cuadro-registro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.cuadro-registro input {
    width: 100%;
    padding: 8px;
}