.contenedor_logo {
    text-align: center;
    margin: auto;
}

.contenedor_logo h4{
    color: #141fb3;
}

.contenedor{
    width: 100%;
    max-width: 800px;
    padding: 20px 20px;
    padding-top: 50px;
    position: relative;
    margin: auto;
}

.contenedor_formulario_contacto{
    width: 100%;
    padding: 30px;
    position: relative;
    margin: auto;
    background-color: rgba(146, 214, 211, 0.979);
    border-radius: 20px;
}

.contenedor_formulario_contacto form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: white;
    margin: auto;
    width: 100%;
    max-width: 650px;
    box-sizing: border-box;
}

.contenedor_formulario_contacto h2,
.contenedor_logo h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    color: #033363;
}
.contenedor_formulario_contacto label{
    display: block;
    color: #033363;
    font-size: 17px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 6px;
    text-align: left;
}

.contenedor_formulario_contacto input,
.contenedor_formulario_contacto textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
}

.contenedor_formulario_contacto button{
    padding: 10px 40px;
    margin-top: 25px;
    border: none;
    font-size: 16px;
    background: #033363;
    color: white;
    cursor: pointer;
    outline: none; 
}

.contenedor_formulario_contacto button:hover{
    background: rgb(8, 159, 185);
    color: white;
}