@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800&display=swap');

:root {
  --brick: #A63D32;
  --mustard: #C18A45;
  --moss: #657052;
  --cream: #FFF3CF;
  --coffee: #382604;
  --black: #11100E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--black);
  color: var(--cream);
}

a {
  color: inherit;
  text-decoration: none;
}